# --- POSTGRES CONFIG ---
POSTGRES_USER=admin_sport
POSTGRES_PASSWORD=s 
POSTGRES_DB=sport_app_db
POSTGRES_PORT=5432

# --- KESTRA CONFIG (Persistence) ---
KESTRA_DB_NAME=kestra_metadata
KESTRA_DB_USER=kestra_user
KESTRA_DB_PASSWORD=

# --- STREAMING & CDC ---
REDPANDA_PORT=19092
DEBEZIUM_PORT=8083

# --- SLACK ---
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/TXXX/BXXX/XXXX


# --- KESTRA SECRET ---
SECRET_GIT_ACCESS_USER=Z....x
SECRET_GIT_ACCESS_TOKEN=Z...................=
SECRET_POSTGRES_USER=Y..................=
SECRET_POSTGRES_PASSWORD=W...................................0=
