# --- POSTGRES CONFIG ---
POSTGRES_USER=admin_sport
POSTGRES_PASSWORD=secure_password_123
POSTGRES_DB=sport_app_db
POSTGRES_PORT=5432

# --- KESTRA CONFIG (Persistence) ---
KESTRA_DB_NAME=kestra_metadata
KESTRA_DB_USER=kestra_user
KESTRA_DB_PASSWORD=kestra_pass_456

# --- STREAMING & CDC ---
REDPANDA_PORT=19092
DEBEZIUM_PORT=8083

# --- SLACK ---
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/TXXX/BXXX/XXXX