# --- POSTGRES CONFIG ---
POSTGRES_USER=x__________x
POSTGRES_PASSWORD=
POSTGRES_DB=x__________x
POSTGRES_PORT=x__________x
DB_CONNECTION_STRING=x__________x
GOOGLE_MAPS_KEY=x__________x
CRYPT_KEY=x__________x
GSHEET_ID=x__________x

# --- KESTRA CONFIG (Persistence) ---
KESTRA_DB_NAME=x__________x
KESTRA_DB_USER=x__________x
KESTRA_DB_PASSWORD=x__________x
KESTRA_SDS_DB=x__________x

# --- STREAMING & CDC ---
REDPANDA_PORT=19092
DEBEZIUM_PORT=8083

# --- SLACK ---
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/x__________x

# --- KESTRA SECRET ---
SECRET_GIT_ACCESS_USER=x___base64___x
SECRET_GIT_ACCESS_TOKEN=x___base64___x
SECRET_POSTGRES_USER=x___base64___x
SECRET_POSTGRES_PASSWORD=x___base64___x
SECRET_POSTGRES_DB=x___base64___x
SECRET_SLACK_WEBHOOK_URL=x___base64___x
SECRET_GOOGLE_MAPS_KEY=x___base64___x
SECRET_CRYPT_KEY=x___base64___x
SECRET_GSHEET_ID=x___base64___x
SECRET_GCP_SERVICE_ACCOUNT_JSON=x___base64___x
#LLM
MISTRAL_API_KEY=x___base64___x
GEMINI_API_KEY=x___base64___x