kestra
# Simulation et Manipulation de données ---
pandas          # Manipulation de DataFrames et import CSV
python-dotenv    # Gestion des variables d'environnement (Secrets Slack, DB)
openpyxl  # Gestion des fichiers XL
fastparquet

# Base de données et Réseau ---
psycopg2-binary # Connecteur PostgreSQL pour l'injection des données simulées
requests       # Envoi des notifications aux Webhooks Slack

# Traitement de données (Spark & Delta Lake) ---
pyspark          # Moteur Spark Structured Streaming
delta-spark     # Support du format Delta Lake local
sqlalchemy
# Qualité des données ---
great_expectations # Framework de tests de données (Expectations)

# Géospatial (Gratuit via OpenStreetMap) ---
geopy           # Géocodage (Nominatim) et calcul de distances géodésiques

#Comment build
mistralai
genai