# Simulation et Manipulation de données ---
Faker==40.5.1          # Génération de données aléatoires (Profils, dates, textes)
pandas==3.0.1           # Manipulation de DataFrames et import CSV
python-dotenv==1.2.2    # Gestion des variables d'environnement (Secrets Slack, DB)

# Base de données et Réseau ---
psycopg2-binary==2.9.11  # Connecteur PostgreSQL pour l'injection des données simulées
requests==2.32.5        # Envoi des notifications aux Webhooks Slack

# Traitement de données (Spark & Delta Lake) ---
pyspark==4.1.1          # Moteur Spark Structured Streaming
delta-spark==4.1.0      # Support du format Delta Lake local

# Qualité des données ---
great-expectations==1.13.0 # Framework de tests de données (Expectations)

# Géospatial (Gratuit via OpenStreetMap) ---
geopy==2.4.1            # Géocodage (Nominatim) et calcul de distances géodésiques